/*google Fonts*/
/*Letra titulos salon rosario /funes de la primera seccion del index*/
@import url("https://fonts.googleapis.com/css2?family=Syne&display=swap");
/*letra River de la primer seccion*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&display=swap");
/*Letra h3 de primera seccion - Salones -*/
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
/*Letra h4 segunda seccion*/
@import url("https://fonts.googleapis.com/css2?family=Thasadith&display=swap");
/*letra tercera seccion parrafo de la imagen del rio parana*/
@import url("https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap");
/*letra de contacto*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@200&display=swap");
/*letra parrafo cuarta seccion*/
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/*Letra h1*/
@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");
/*letra RIVER footer*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap");
/*Letra platos / menu tercer seccion de catering*/
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@200&display=swap");
/*texto imagen de cheff pagina catering*/
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap");
/*letra seccion vinos de la pagina de barra de tragos*/
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@600&display=swap");
/*letra parrafo general - variable*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap");
/*variables*/
/*Partials*/
/*variable carousel de portada*/
header .portada {
  background-image: url(img/Portada/Foto-portada.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo img {
  margin-left: 20px;
  background-color: white;
  width: 100px;
  height: 80px;
  float: left;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
header .navbar nav {
  float: left;
  padding-top: 25px;
}
header .navbar li {
  position: relative;
  left: 180px;
  padding: 25px;
  display: inline;
}
header .navbar a {
  text-decoration: none;
  color: white;
}
header .navbar a:hover {
  color: rgb(206, 111, 44);
}

.caja-portada {
  width: 500px;
  height: 550px;
  background-color: #1d1d1d;
  margin: auto;
  position: relative;
  top: 150px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Wire One", sans-serif;
  margin-top: 10px;
}

h2 {
  color: white;
  font-family: "Imbue", serif;
}

p {
  color: white;
  text-align: center;
  font-family: "Imbue", serif;
  font-size: 20px;
}

footer {
  background-color: black;
  /*armado del logo del footer*/
  /*fin del logo del footer*/
}
footer h6 {
  text-align: center;
  padding-top: 60px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 55px;
  color: #474545;
}
footer .eventos {
  font-family: "Gotu", sans-serif;
  font-size: 18px;
  color: rgb(206, 111, 44);
}
footer p {
  text-align: center;
  color: #474545;
}
footer p .redes p {
  text-align: center;
  color: #474545;
}
footer p svg {
  width: 50px;
  height: 50px;
  padding-left: 15px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

/*map get*/
/*h3 de la primera seccion del index*/
/*primera seccion del index*/
.primera-seccion {
  background-color: black;
}
.primera-seccion h3 {
  color: white;
  text-align: center;
  font-family: "Nixie One", cursive;
  font-size: 23px;
}
.primera-seccion .river {
  font-size: 55px;
  font-family: "Big Shoulders Stencil Display", cursive;
  color: rgb(206, 111, 44);
}

/*segunda seccion index*/
.segunda-seccion .caja-rosario, .segunda-seccion .caja-funes {
  background-color: rgb(252, 244, 173);
  width: 50%;
  float: left;
}
.segunda-seccion .caja-rosario h4, .segunda-seccion .caja-funes h4 {
  text-align: center;
  font-family: "Thasadith", sans-serif;
  font-weight: bolder;
  padding-top: 50px;
}
.segunda-seccion .caja-rosario p, .segunda-seccion .caja-funes p {
  line-height: 2;
  padding: 20px;
  font-family: "Fira Sans", sans-serif;
  color: #131313;
}
/*tercera seccion index*/
.tercera-seccion {
  background-image: url(img/Rio/Rio\ parana.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.tercera-seccion p {
  text-align: center;
  padding-top: 250px;
  font-family: "Chau Philomene One", sans-serif;
  font-size: 45px;
  color: black;
}

/*cuarta seccion index*/
.cuarta-seccion {
  background-color: rgb(252, 244, 173);
}
.cuarta-seccion svg {
  width: 70px;
  height: 70px;
  color: black;
  text-align: center;
}
.cuarta-seccion .boda, .cuarta-seccion .coorporativo, .cuarta-seccion .graduacion, .cuarta-seccion .cumple {
  width: 100px;
  height: 120px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.cuarta-seccion p {
  text-align: center;
  color: black;
  font-family: "Fira Sans", sans-serif;
}
.parrafo-cuarta-seccion p {
  margin-top: 50px;
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

/*quinta seccion index*/
.quinta-seccion .imagen-5seccion {
  background-image: url(img/Servicios/pexels-rachel-claire-4577179.jpg);
  background-position: center;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.quinta-seccion p {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
  color: #131313;
}
.quinta-seccion .incluidos {
  padding-top: 25px;
}

/*sexta seccion index*/
.sexta-seccion p {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  text-align: center;
  color: #131313;
}
.sexta-seccion .optativos {
  padding-top: 25px;
}
.sexta-seccion .propio-servicio {
  padding-top: 50px;
}

.imagen-6seccion {
  background-image: url(img/Servicios/mozos.png);
  background-position: center;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/*formulario de contacto*/
form .formulario {
  background-image: url(img/contacto/foto-contact.jpg);
  background-position: center;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
}
form .formulario P {
  text-align: center;
  padding: 50px;
  font-family: "Big Shoulders Stencil Text";
  font-size: 50px;
  color: rgb(161, 98, 53);
}
form .formulario input {
  background-color: #131313;
}
form .formulario textarea {
  background-color: #131313;
}
form .formulario .email {
  margin-bottom: 15px;
}
form .formulario .boton {
  font-family: "Gotu", sans-serif;
}

/*armado de html Catering*/
/*portada pagina catering*/
.imagen-portada-catering {
  height: 150vh;
  background-image: url(img/Catering/8\ Tips\ to\ Instantly\ Improve\ Your\ Restaurant\ Photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*Primera seccion pagina catering- fotos de los platos-*/
.titulo-platos {
  background-color: rgb(252, 244, 173);
}

.platos {
  background-position: center;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.platos h2 {
  text-align: center;
  padding-top: 50px;
  font-family: "Fira Sans", sans-serif;
  font-size: 30px;
  color: #131313;
}

.segunda-seccion-catering {
  background-color: rgb(252, 244, 173);
}

.bocados {
  background-image: url(img/Catering/foto-bocados.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.bocados:hover {
  border: 8px solid rgb(252, 244, 173);
}
.bocados p {
  text-align: center;
  font-size: 35px;
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
  font-family: "Big Shoulders Text", cursive;
}

.entrada {
  background-image: url(img/Catering/foto-entradas.jpeg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.entrada:hover {
  border: 8px solid rgb(252, 244, 173);
}
.entrada p {
  text-align: center;
  font-size: 35px;
  font-family: "Big Shoulders Text", cursive;
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
}

.principales {
  background-image: url(img/Catering/foto-pprincipal.jpeg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.principales:hover {
  border: 8px solid rgb(252, 244, 173);
}
.principales p {
  text-align: center;
  font-size: 35px;
  font-family: "Big Shoulders Text", cursive;
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
}

.postres {
  background-image: url(img/Catering/foto-postre.jpg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.postres:hover {
  border: 8px solid rgb(252, 244, 173);
}
.postres p {
  text-align: center;
  font-size: 35px;
  font-family: "Big Shoulders Text", cursive;
  width: 100%;
  height: 55px;
  background-color: black;
  color: white;
}

.menues-catering {
  height: 100px;
}
.menues-catering p {
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  text-align: center;
  border-bottom: solid 1px black;
  width: 300px;
  margin: auto;
  margin-top: 50px;
}

.titulo-menu {
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu {
  margin-bottom: 50px;
}
.menu p {
  color: black;
  line-height: 1;
  font-size: 15px;
  font-family: "Fira Sans", sans-serif;
}

.imagen-cheff {
  background-image: url(img/Catering/foto-cheff.jpg);
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.imagen-cheff p {
  text-align: center;
  padding-top: 200px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 40px;
  color: black;
}

.titulo-img-platos p {
  color: #131313;
  font-family: "Mr Dafoe", cursive;
  font-size: 40px;
  margin-top: 100px;
}

.imagen-platos img {
  width: 100%;
  height: 380px;
  margin: auto;
  padding: 25px;
}

/*Pagina barra de tragos*/
/*portada*/
.imagen-portada-tragos {
  background-image: url(img/Barra-tragos/portada-tragos.jpg);
  height: 130vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*primera seccion tragos*/
.primera-seccion-tragos {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}
.primera-seccion-tragos h2 {
  text-align: center;
  margin-top: 80px;
  font-family: "Alumni Sans", sans-serif;
  font-size: 35px;
  color: #131313;
}
.primera-seccion-tragos p {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #131313;
}

/*segunda seccion tragos*/
.segunda-seccion-tragos img {
  width: 100%;
  height: 330px;
  margin: auto;
  padding: 25px;
}

@media all and (max-width: 768px) {
  .segunda-seccion-tragos img {
    width: 100%;
    height: 400px;
    padding: 10px;
  }
}
.bartender-video .img-bartender {
  background-image: url(img/Barra-tragos/bartender.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.bartender-video p {
  background-color: #131313;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  text-align: center;
  padding-top: 200px;
}

/*tercera seccion tragos*/
.tercera-seccion-tragos {
  background-color: #131313;
}
.tercera-seccion-tragos p {
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-size: 26px;
  color: rgb(104, 103, 103);
}
.tercera-seccion-tragos hr {
  color: white;
  width: 50%;
  margin: auto;
}

.contenedor-general-tragos {
  background-image: url(img/Barra-tragos/foto-4seccion.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.cuarta-seccion-tragos {
  width: 75%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.silver {
  width: 100%;
  background-image: url(img/Barra-tragos/silver.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.silver p {
  text-align: center;
  padding-top: 50px;
  color: #131313;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: bolder;
}
.silver hr {
  width: 75%;
  margin: auto;
  border: solid 2px black;
}

.black {
  width: 100%;
  background-image: url(img/Barra-tragos/blackjpg.jpg);
  height: 400px;
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.black p {
  text-align: center;
  padding-top: 50px;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: bolder;
}
.black hr {
  width: 75%;
  margin: auto;
  border: solid 2px white;
}

.gold {
  width: 100%;
  background-image: url(img/Barra-tragos/gold..jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.gold p {
  text-align: center;
  padding-top: 50px;
  color: #131313;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: bolder;
}
.gold hr {
  width: 75%;
  margin: auto;
  border: solid 2px black;
}

.bronze {
  width: 100%;
  background-image: url(img/Barra-tragos/bronzee.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bronze p {
  text-align: center;
  padding-top: 50px;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: bolder;
}
.bronze hr {
  width: 75%;
  margin: auto;
  border: solid 2px black;
}

/*quinta seccion -- bodegas de vino*/
.fondo-bodegas {
  height: 100vh;
  background-image: url(img/Barra-tragos/foto-fondo-bodegas.jpg);
  background-size: cover;
}
.fondo-bodegas p {
  text-align: center;
  color: white;
  position: relative;
  top: 50px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 35px;
}
.fondo-bodegas .elegi P {
  font-family: "Mr Dafoe", cursive;
  font-size: 30px;
}
.fondo-bodegas .elegi .vinos p {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
}

.titulo-galeria p {
  color: #131313;
}

.galeria-funes img {
  width: 100%;
  height: 250px;
  padding: 5px;
}

@media all and (max-width: 768px) {
  .galeria-funes img {
    width: 100%;
    height: 400px;
    padding: 10px;
  }
}
.galeria-rosario img {
  width: 100%;
  height: 250px;
  padding: 10px;
}

@media all and (max-width: 768px) {
  .galeria-rosario img {
    width: 100%;
    height: 400px;
    padding: 10px;
  }
}
.funes p {
  color: #131313;
  border-bottom: solid 1px black;
  margin-left: 20px;
}

.rosario p {
  color: #131313;
  border-bottom: solid 1px black;
  margin-left: 20px;
  margin-top: 100px;
}

.titulo-funes-mapa p, .titulo-rosario-mapa p {
  color: #131313;
}

.caja-funes-mapa p {
  color: white;
  line-height: 2;
  padding: 20px;
  text-align: center;
}

.caja-rosario-mapa p {
  color: white;
}
.caja-rosario-mapa .caja-texto-rosario-mapa {
  background-color: #131313;
}/*# sourceMappingURL=style.css.map */